@{
    ViewData["Title"] = "Home Page";
}
<!-- Ana Sayfa Banner Bölümü -->
<section class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h1 class="display-4">VIP Kuaför Hizmetlerine Hoş Geldiniz</h1>
            <p class="lead">Kadın ve erkek kuaför hizmetleriyle sadece saçlarınıza değil aynı zamanda hayatınıza dokunan güler yüzlü personelimiz ve kaliteli hizmetimizle tanışmaya davet ediyoruz!</p>
            
        </div>
        <div class="col-md-6">
            <!-- Fotoğraf Alanı: Bu alanı kuaför salonunun fotoğrafı ile doldurabilirsiniz -->
            <img src="https://www.mimari3d.com/wp-content/uploads/2022/03/Kuafor-tasarimlari-jpg.webp" class="img-fluid rounded" alt="Kuaför Fotoğrafı">
        </div>
    </div>
</section>
<!-- Erkek Kuaförü Tanıtımı -->
<section class="container my-5 bg-light py-5">
    <h2 class="text-center mb-4">Erkek Kuaförü Hizmetlerimiz</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card h-100 d-flex flex-column">
                <img src="https://whairconcept.com.tr/uploads/2021/09/erkek-sac-kesimi.webp" class="card-img-top" alt="Saç Kesimi Erkek">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Erkek Saç Kesimi</h5>
                    <p class="card-text">Erkek saç kesiminde tarzınızı yansıtan profesyonel hizmetler.</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 d-flex flex-column">
                <img src="https://whairconcept.com.tr/uploads/2021/09/erkek-sakal-kesimi.webp" class="card-img-top" alt="Tıraş Hizmeti">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Tıraş Hizmeti</h5>
                    <p class="card-text">Sakallarınızı şekillendiren özel tıraş hizmeti.</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 d-flex flex-column">
                <img src="https://whairconcept.com.tr/uploads/2022/02/kuaforde-erkek-sac-bakimi.jpg" class="card-img-top" alt="Saç Bakımı Erkek">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Saç Bakımı</h5>
                    <p class="card-text">Saçlarınıza bakım yaparak sağlıklı bir görünüm kazandırın.</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container my-5">
    <h2 class="text-center mb-4">Kadın Kuaförü Hizmetlerimiz</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card h-100 d-flex flex-column">
                <img src="https://cdn.armut.com/images/services/00118-kuafor.jpg" class="card-img-top" alt="Kadın Kuaförü">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Saç Kesimi</h5>
                    <p class="card-text">Profesyonel saç kesimi hizmeti ile tarzınızı yenileyin.</p>
                   
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 d-flex flex-column">
                <img src="https://www.gigbi.com/cdn/image/category/710/sac-boyama.jpg" class="card-img-top" alt="Saç Boyama">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Saç Boyama</h5>
                    <p class="card-text">Modaya uygun renkler ile saçlarınıza yeni bir görünüm kazandırın.</p>
                   
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 d-flex flex-column">
                <img src="https://www.gigbi.com/cdn/image/category/710/manikur-pedikur.jpg" class="card-img-top" alt="Manikür ve Pedikür">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Manikür ve Pedikür</h5>
                    <p class="card-text">El ve ayak bakımınızı uzmanlarımızla yaptırın.</p>
                </div>
            </div>
        </div>
    </div>
</section>




